body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #d9d9d9;
    border-top: 2px solid #d9d9d9;
}

.left-column {
    display: flex;
    gap: 20px;
    flex: 1;
    padding-right: 20px;
    padding-left: 10px;
    border-right: 1px solid #ccc;
}

.right-column {
    display: grid;
    gap: 20px;
    flex: 1;
    padding-left: 20px;
}

 /* left-column CSS  */
.information-box {
    padding-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 60px; 
}

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.information h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

.information ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.information ul li {
    font-size: 1em;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.information ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

/* right-column CSS  */
.right-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}
.right-column-top {
    display: flex;
    gap: 20px;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 20px;
}

.brands {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto); 
    gap: 20px;
    width: 100%;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.brand img {
    width: 120px;
    height: auto; 
    aspect-ratio: 16 / 9; 
  }

.brand p {
    margin: 0;
}

.right-column-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.right-column-bottom a {
    text-decoration: none;
    color: #333;
    display: flex;
}

.right-column-bottom img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.right-column-bottom img:hover {
    cursor: pointer;
}

.contact {
    display: flex;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-column {
        grid-template-columns: 1fr;
    }

    .right-column {
        margin-top: 20px;
    }
}
