body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.login-form form {
    width: 100%;
}

.form-head .form-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 16px 0;
    width: 100%;
    text-align: left;
}

.form-group {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: row;
}

.input input {
    padding: 16px 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.stay-check p {
    margin-left: 4px;
}

.forgot-register {
    text-align: left;
}

.btn button {
    width: 100%;
    padding: 12px 0;
    font-size: 1.25rem;
    border-radius: 4px;
}

.btn-login button {
    background-color: #194185;
    color: #ffffff;
    border: none;
}

.btn-login button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn-register button {
    background-color: #ffffff;
    color: #194185;
    border: solid 2px #194185;
}

.btn-register button:hover {
    cursor: pointer;
    background-color: #194185;
    color: #ffffff;
}

.forgot-register  h4 {
    font-size: 1.25rem;
}

form a {
    color: #194185;
    text-decoration: none;
}

form a:hover {
    cursor: pointer;
}
